/* layout.tsx */
.layout {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .layout {
        flex-direction: row;
    }
}

/* page.tsx */
.page {
    display: flex;
    flex-grow: 1;
}

.section {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    padding: 64px 32px;
}

.sectionLeft,
.sectionRight {
    display: flex;
    flex-direction: column;
}

.title,
.subtitle {
    color: var(--color-text-default);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

.title {
    font-size: 40px;
    line-height: 44px;
}

.subtitle {
    font-size: 24px;
    line-height: 28px;
}

.userList {
    display: flex;
    flex-direction: column;
}

/* header.tsx */
.header {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    border-bottom: 1px solid var(--color-border-default);
    padding: 0px 16px;
    background-color: var(--color-canvas-subtle);
    color: var(--color-text-default);
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 20px;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.headerLogoSvg {
    width: 32px;
    height: 32px;
}

.headerLogoSpan {
    font-size: 20px;
    line-height: 24px;
}

.headerLeftLink:hover {
    color: var(--color-btn-text);
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerRightLink {
    display: flex;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    line-height: 20px;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.headerRightLink:hover {
    opacity: 0.75;
}

.headerAvatarButton {
    display: flex;
    align-items: center;
}

.headerAvatarImg {
    border-radius: 12px;
}

/* accountButton.tsx */
.tooltipMenu {
    background-color: transparent;
}

.tooltipMenuList {
    background-color: var(--color-canvas-subtle);
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 1px, rgba(1, 4, 9, 0.85) 0px 16px 32px;
    padding: 8px 0px;
    border-radius: 8px;
}

.tooltipMenuListItemHeaderContainer {
    display: flex;
    margin: 0px 8px;
    border-radius: 8px;
    width: calc(100% - 16px);
    padding-bottom: 8px;
}

.tooltipMenuListItemContainer {
    display: flex;
    margin: 0px 8px;
    border-radius: 8px;
    width: calc(100% - 16px);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.tooltipMenuListItemContainer:hover {
    background-color: rgba(177, 186, 196, 0.12);
}

.tooltipMenuListItemContainer:active {
    background-color: rgba(177, 186, 196, 0.2);
}

.tooltipMenuListItemHeader {
    display: flex;
    flex-direction: column;
    padding: 6px 8px 8px;
    width: 100%;
    text-decoration: none;
    gap: 2px;
    color: var(--color-btn-text);
    border-bottom: 1px solid var(--color-border-default);
}

.tooltipMenuListItem {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 6px 8px;
    border-radius: 8px;
    width: calc(100% - 16px);
    text-decoration: none;
    gap: 8px;
    color: var(--color-btn-text);
}

.tooltipMenuListItemSpan {
    font-size: 14px;
    line-height: 18px;
}

.tooltipMenuListItemSpanBold {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;   
}

.tooltipMenuListItemSvg {
    width: 16px;
    height: 16px;
}