/* layout.tsx */
.layout {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .layout {
        flex-direction: row;
    }
}

/* page.tsx */
.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    -webkit-font-smoothing: antialiased;
}

.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 32px;
}

.sectionOne,
.sectionTwo {
    padding: 32px;
}

.sectionLeft,
.sectionRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    gap: 8px;
}

.title,
.subtitle {
    color: var(--color-text-default);
    font-weight: 500;
}

.title {
    font-size: 88px;
    line-height: 96px;
}

.subtitle {
    font-size: 32px;
    line-height: 36px;
    color: var(--color-btn-hover-border);
}

.primaryButton {
    display: flex;
    width: max-content;
    align-items: center;
    padding: 8px 16px;
    margin: 8px 0px;
    gap: 4px;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    background-color: var(--color-canvas-subtle);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.primaryButton:hover {
    background-color: var(--color-background-default);
}

.primaryButtonArrow {
    transition: transform 0.2s ease-out;
}

.primaryButton:hover .primaryButtonArrow {
    transform: translateX(4px);
}

.messages {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 8px;
}

.message {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 40px;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
}

.message:nth-child(2n) {
    align-self: flex-end;
}

.messageHeader {
    display: flex;
    background-color: var(--color-canvas-subtle);
    border-bottom: 1px solid var(--color-border-default);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 16px;
}

.messageContent {
    text-align: left;
    padding: 4px;
    font-size: 12px;
    line-height: 14px;
}

.sectionTop,
.sectionBottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.box {
    display: flex;
    flex-grow: 1;
    min-height: 240px;
    min-width: 240px;
    background-color: var(--color-canvas-subtle);
    border-radius: 16px;
    padding: 8px;
}

.boxContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.boxText {
    color: var(--color-btn-hover-border);
    font-size: 24px;
    line-height: 28px;
}

.boxSvg {
    width: 152px;
    height: 152px;
}

.streamingText {
    display: flex;
    width: 300px;
}

@media screen and (min-width: 768px) {
    .section {
        flex-direction: row;
        text-align: left;
    }

    .sectionOne {
        padding: 152px 32px 184px;
    }

    .sectionTwo {
        padding: 112px 32px;
        flex-direction: column;
    }

    .sectionLeft,
    .sectionRight {
        align-items: flex-start;
    }
}

/* header.tsx */
.header {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    border-bottom: 1px solid var(--color-border-default);
    padding: 0px 16px;
    background-color: var(--color-canvas-subtle);
    color: var(--color-text-default);
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 20px;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 8px;
}

.headerLogoSvg {
    width: 32px;
    height: 32px;
}

.headerLogoSpan {
    font-size: 20px;
    line-height: 24px;
}

.headerLeftLink:hover {
    color: var(--color-btn-text);
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerRightLink {
    display: flex;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    line-height: 20px;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.headerRightLink:hover {
    opacity: 0.75;
}

.headerAvatarButton {
    display: flex;
    align-items: center;
}

.headerAvatarImg {
    border-radius: 12px;
}

/* accountButton.tsx */
.tooltipMenu {
    background-color: transparent;
}

.tooltipMenuList {
    background-color: var(--color-canvas-subtle);
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 1px, rgba(1, 4, 9, 0.85) 0px 16px 32px;
    padding: 8px 0px;
    border-radius: 8px;
}

.tooltipMenuListItemHeaderContainer {
    display: flex;
    margin: 0px 8px;
    border-radius: 8px;
    width: calc(100% - 16px);
    padding-bottom: 8px;
}

.tooltipMenuListItemContainer {
    display: flex;
    margin: 0px 8px;
    border-radius: 8px;
    width: calc(100% - 16px);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.tooltipMenuListItemContainer:hover {
    background-color: rgba(177, 186, 196, 0.12);
}

.tooltipMenuListItemContainer:active {
    background-color: rgba(177, 186, 196, 0.2);
}

.tooltipMenuListItemHeader {
    display: flex;
    flex-direction: column;
    padding: 6px 8px 8px;
    width: 100%;
    text-decoration: none;
    gap: 2px;
    color: var(--color-btn-text);
    border-bottom: 1px solid var(--color-border-default);
}

.tooltipMenuListItem {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 6px 8px;
    border-radius: 8px;
    width: calc(100% - 16px);
    text-decoration: none;
    gap: 8px;
    color: var(--color-btn-text);
}

.tooltipMenuListItemSpan {
    font-size: 14px;
    line-height: 18px;
}

.tooltipMenuListItemSpanBold {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;   
}

.tooltipMenuListItemSvg {
    width: 16px;
    height: 16px;
}