OPENAI_API_KEY= # Create your secret key at OpenAI (https://platform.openai.com/account/api-keys)

NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_GITHUB_ID= # Register a GitHub app to get an ID and secret (https://github.com/settings/apps)
NEXTAUTH_GITHUB_SECRET=