/* layout.tsx */
.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: calc(100vh - 56px);
    position: relative;
    overflow: hidden;
}

/* page.tsx */
.page {
    display: flex;
    padding: 32px;
    gap: 16px;
}

.pageLeft,
.pageRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pageRight {
    flex-grow: 1;
}

.pageRightHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primaryButton {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border: 1px solid var(--color-btn-border);
    border-radius: 8px;
    padding: 4px 12px;
    width: max-content;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    appearance: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.primaryButton:hover {
    border-color: var(--color-btn-hover-border);
    background-color: var(--color-btn-hover-bg);
}

.primaryButton:active {
    border-color: var(--color-btn-active-border);
    background-color: var(--color-button-active);
}

.primaryButton:disabled {
    pointer-events: none;
    opacity: 0.8;
}

.primaryButtonSvg {
    width: 16px;
    height: 16px;
    color: var(--color-fg-muted);
}

.primaryButtonNumber {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--color-button-hover);
    font-size: 12px;
    line-height: 20px;
}

.starredSvg {
    color: var(--color-starred);
}

.avatar {
    border-radius: 150px;
}

.userNames {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--color-text-default);
    font-size: 18px;
    line-height: 20px;
}

.userName {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.userUsername {
    color: var(--color-btn-hover-border);
}

.tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-default);
}

.tab {
    padding: 8px;
    border-bottom: 2px solid transparent;
}

.tabActive {
    border-bottom-color: var(--color-primary-fg);
}

.tabContent {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.tabContent:hover {
    background-color: rgba(177, 186, 196, 0.12);
}

.tabSvg {
    width: 16px;
    height: 16px;
    color: var(--color-fg-muted);
}

.projects {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
}

.projectTop,
.projectBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.projectName:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.projectDescription {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-btn-hover-border);
}

/* hideSidebarButton.tsx */
.hideSidebarButton {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: var(--color-btn-hover-border);
    background-color: var(--color-canvas-subtle);
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.hideSidebarButton:hover {
    background-color: var(--color-btn-hover-bg);
    color: var(--color-btn-hover-border);
}

.hideSidebarButtonSvg {
    width: 16px;
    height: 16px;
}

/* resizer.tsx */
.resizer {
    position: absolute;
    z-index: 1;
    inset: 0px -4px;
    cursor: col-resize;
    background-color: transparent;
}