/* layout.tsx */
.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: calc(100vh - 56px);
    position: relative;
    overflow: hidden;
}

/* page.tsx */
.page {
    display: flex;
    padding: 32px;
    gap: 16px;
}

.pageLeft,
.pageRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pageRight {
    flex-grow: 1;
}

.pageRightHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primaryButton {
    background-color: var(--color-btn-bg);
    color: var(--color-text-default);
    border: 1px solid var(--color-btn-border);
    border-radius: 8px;
    padding: 8px;
}

.primaryButton:hover {
    border-color: var(--color-btn-hover-border);
    background-color: var(--color-btn-hover-bg);
}

.primaryButton:active,
.primaryButton:focus-within {
    border-color: var(--color-btn-active-border);
    background-color: var(--color-button-active);
}

.avatar {
    border-radius: 150px;
}

.userNames {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--color-text-default);
    font-size: 18px;
    line-height: 20px;
}

.userName {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.userUsername {
    color: var(--color-btn-hover-border);
}

.projects {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
}

.projectTop,
.projectBottom {
    display: flex;
    align-items: center;
}

.projectTitle:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.projectDescription {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-btn-hover-border);
}