/* page.tsx */
.folderPage {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.folderPageHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}

.table {
    width: 100%;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    border-spacing: 0px;
    overflow: hidden;
    table-layout: fixed;
}

.tableHeader {
    height: 40px;
    background-color: var(--color-canvas-subtle);
}

.tableHeaderRow {
    color: var(--color-btn-hover-border);
    height: 40px;
    font-size: 12px;
    text-align: left;
}

.tableHeaderRow :nth-child(1) {
    width: 60%;
}

.tableHeaderRowCell {
    padding-left: 16px;
}

/* sidebarButton.tsx */
.sidebarOpenButton {
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--color-btn-hover-border);
    background-color: var(--color-canvas-subtle);
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.sidebarOpenButton:hover {
    background-color: var(--color-btn-hover-bg);
    color: var(--color-btn-hover-border);
}

.sidebarOpenButtonSvg {
    width: 16px;
    height: 16px;
}

/* folderTitle.tsx */
.folderEditInput {
    display: flex;
    background-color: transparent;
    border: none;
    font: inherit;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-btn-text);
}

.folderPageTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-btn-text);
}

.folderEditButton {
    background-color: transparent;
    color: var(--color-btn-hover-border);
    padding: 0px 8px;
    transition-property: color;
    transition-duration: 0.2s;
}

.folderEditButton:hover {
    color: var(--color-text-default);
}

.folderEditButtonActive {
    color: var(--color-success-fg) !important;
}

.folderEditButtonSvg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

/* chat.tsx */
.tableBodyRow {
    height: 40px;
    font-size: 14px;
}

.tableBodyRow:hover {
    background-color: rgba(177, 186, 196, 0.12);
}

.tableBodyRowData {
    padding-left: 16px;
    border-top: 1px solid var(--color-border-default);
    gap: 8px;
}

.chatTitle,
.chatLastUpdate,
.chatActions {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 16px;
    height: 40px;
}

.chatSvg {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: var(--color-btn-hover-border);
}

.chatLastUpdateSpan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-fg-muted);
}

.chatEditInput {
    display: flex;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font: inherit;
    height: 100%;
    outline: none;
    border-radius: 6px;
}

.chatTitleLink {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-text-default);
}

.chatEditButton,
.chatRemoveButton {
    background-color: transparent;
    color: var(--color-btn-hover-border);
    transition-property: color;
    transition-duration: 0.2s;
}

.chatEditButton:hover,
.chatRemoveButton:hover {
    color: var(--color-text-default);
}

.chatEditButtonActive {
    color: var(--color-success-fg) !important;
}

.chatRemoveButtonActive {
    color: var(--color-danger-fg) !important;
}

.chatEditButtonSvg,
.chatRemoveButtonSvg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
