/* page.tsx */
.page {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    gap: 8px;
}

.title {
    color: var(--color-text-default);
}

/* signInButtons.tsx */
.signInButtons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0px;
}

.signInButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 8px;
    border: 1px solid var(--color-border-default);
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.signInButton:hover {
    background-color: var(--color-btn-bg);
}

/* error.tsx */
.primaryButton {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border: 1px solid var(--color-btn-border);
    border-radius: 8px;
    padding: 4px 12px;
    width: max-content;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    appearance: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.primaryButton:hover {
    border-color: var(--color-btn-hover-border);
    background-color: var(--color-btn-hover-bg);
}

.primaryButton:active {
    border-color: var(--color-btn-active-border);
    background-color: var(--color-button-active);
}

.primaryButton:disabled {
    pointer-events: none;
    opacity: 0.8;
}