/* page.tsx */
.page {
    padding: 32px;
}

.title {
    color: var(--color-text-default);
}

/* sidebar.tsx */
.sidebarContainer {
    display: flex;
    width: 100%;
    position: relative;
}

.sidebar {
    position: sticky;
    --pane-width: 256px;
    --pane-min-width: 256px;
    --pane-max-width-diff: 511px;
    --pane-max-width: calc(100vw - var(--pane-max-width-diff));
    width: 100%;
}

.sidebarContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.sidebarHeader {
    position: sticky;
    top: 0;
    padding-bottom: 16px;
    background-color: var(--color-background-default);
}

.sidebarHeaderTop {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.sidebarCloseButton {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: var(--color-btn-hover-border);
    background-color: var(--color-canvas-subtle);
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.sidebarCloseButton:hover {
    background-color: var(--color-btn-hover-bg);
    color: var(--color-btn-hover-border);
}

.sidebarCloseButtonSvg {
    width: 16px;
    height: 16px;
}

.sidebarHeaderTitle {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-btn-text);
    text-overflow: ellipsis;
    overflow: hidden;
}

.searchbar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    color: var(--color-btn-hover-border);
    margin: 0px 24px;
    background-color: var(--color-background-default);
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    height: 32px;
    gap: 8px;
    padding: 0px 8px;
}

.searchbar:focus-within {
    outline: 1px solid var(--color-btn-hover-border);
}

.searchbarSvg {
    width: 16px;
    height: 16px;
}

.sidebarMain {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 16px;
}

.sidebarLink {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    gap: 8px;
}

.sidebarLink:hover {
    background-color: rgba(177, 186, 196, 0.12);
}

.sidebarLink[aria-current='true'] {
    background-color: rgba(177, 186, 196, 0.08);
}

.sidebarLinkSvg {
    color: var(--color-btn-hover-border);
}

.resizerContainer {
    width: 1px;
    height: 100%;
    position: relative;
    background-color: var(--color-border-default);
}

@media screen and (min-width: 768px) {
    .sidebarContainer {
        width: auto;
        height: calc(100vh - 56px);
    }

    .sidebar {
        flex-direction: column;
        width: clamp(var(--pane-min-width),var(--pane-width),var(--pane-max-width));
    }
}

@media screen and (min-width: 1280px) {
    .sidebar {
        --pane-max-width-diff: 959px;
    }
}